.container{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.img_container{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}
.carousel-root{
    width: 100% !important;
}
.carousel .thumbs{
    margin: 0 !important;
}
.carousel .thumbs-wrapper{
    display: flex !important;
    overflow: hidden !important;
    justify-content: center !important;
}
.carousel .slider-wrapper.axis-horizontal .slider{
    align-items: center !important;
}